<style>#cclicense .img {float:left;} #cclicense .p {float:right;}</style>
{% if site.cclicense == "by" %}
	<div id="cclicense" class="suggestions">
		<img src="https://i.creativecommons.org/l/by/4.0/88x31.png">
		<p>This is article that based on <a href="https://creativecommons.org/licenses/by/4.0">CC-BY</a>.</p>
	</div>
{% endif %}
{% if site.cclicense == "by-sa" %}
	<div id="cclicense" class="suggestions">
		<img src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png">
		<p>This is article that based on <a href="https://creativecommons.org/licenses/by-sa/4.0">CC-BY-SA</a>.</p>
	</div>
{% endif %}
{% if site.cclicense == "by-nd" %}
	<div id="cclicense" class="suggestions">
		<img src="https://i.creativecommons.org/l/by-nd/4.0/88x31.png">
		<p>This is article that based on <a href="https://creativecommons.org/licenses/by-nd/4.0">CC-BY-ND</a>.</p>
	</div>
{% endif %}
{% if site.cclicense == "by-nc" %}
	<div id="cclicense" class="suggestions">
		<img src="https://i.creativecommons.org/l/by-nc/4.0/88x31.png">
		<p>This is article that based on <a href="https://creativecommons.org/licenses/by-nc/4.0">CC-BY-NC</a>.</p>
	</div>
{% endif %}
{% if site.cclicense == "by-nc-sa" %}
	<div id="cclicense" class="suggestions">
		<img src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png">
		<p>This is article that based on <a href="https://creativecommons.org/licenses/by-nc-sa/4.0">CC-BY-NC-SA</a>.</p>
	</div>
{% endif %}
{% if site.cclicense == "by-nc-nd" %}
	<div id="cclicense" class="suggestions">
		<img src="https://i.creativecommons.org/l/by-nc-nd/4.0/88x31.png">
		<p>This is article that based on <a href="https://creativecommons.org/licenses/by-nc-nd/4.0">CC-BY-NC-ND</a>.</p>
	</div>
{% endif %}
