<header class="navbar">

  <a onclick="menuopen();" class="dropdown-title">
     <div class="sidebar-button">
    	 <img class="sidebar-button" style="align:center" src="{{ '/img/sidebar_button.svg' | prepend: site.baseurl }}">
	 </div>
  </a>
  
  <a href="{{ site.baseurl }}" class="home-link router-link-exact-active router-link-active">
     <span class="site-name">{{ site.title }}</span>
  </a>
  <div class="links">
     <div class="search-box">
	     <input aria-label="Search" autocomplete="off" id="searchbox" spellcheck="true" value="">
		 <ul id="resultbox"></ul>
	 </div>
	 
     <nav class="nav-links can-hide">
	     {% for nav in site.nav %}
		 <div class="nav-item"><a href="{{ nav[1] }}" class="nav-link">{{ nav[0] }}</a></div>
		 {% endfor %}
	 </nav>
  </div>
  
</header>

<script>
  function menuopen() {
    $('.nav_dropdown').css('display', 'block');
  }
</script>
